# Data retrieval

In [57]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
import gc
import seaborn as sns

In [2]:
df = pd.read_csv("Data_prep/match-list.csv", header=None, names =['player_champ','player_champ_name','player_position','is_player_win','ally_champ1','ally_champ2','enemy_champ1','enemy_champ2'])
df

,player_champ,player_champ_name,player_position,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2
0,51,Caitlyn,BOTTOM,True,777,4,114,154
1,22,Ashe,BOTTOM,True,30,91,62,76
2,51,Caitlyn,BOTTOM,False,85,104,36,91
3,67,Vayne,BOTTOM,False,17,76,104,234
4,51,Caitlyn,BOTTOM,True,39,28,24,76
...,...,...,...,...,...,...,...,...
2055,114,Fiora,NaN,True,876,166,887,121
2056,114,Fiora,NaN,True,19,101,166,141
2057,114,Fiora,NaN,False,64,238,54,53
2058,122,Darius,NaN,True,64,54,81,421
2059,114,Fiora,NaN,False,28,61,166,234

In [3]:
synergy_counters_df = pd.read_csv("Data_prep/champion-bestwith-counters-bestagainst.csv", header=None, names =['my_champion','win_rate(%)', 'best_partner','synergy(%)','worst_enemy_for','counter(%)','is_countered_by','countered(%)'])

In [4]:
synergy_counters_df

,my_champion,win_rate(%),best_partner,synergy(%),worst_enemy_for,counter(%),is_countered_by,countered(%)
0,Aatrox,48.9,Rengar,6.5,Gangplank,6.8,Gwen,5.7
1,Ahri,50.5,Malphite,8.1,LeBlanc,4.8,Cassiopeia,5.4
2,Akali,47.3,Amumu,7.2,Gwen,6.5,Shen,7.7
3,Akshan,52.5,Amumu,9.6,Zoe,9.2,Tahm Kench,7.0
4,Alistar,49.9,Trundle,9.6,Thresh,6.0,Bard,5.0
...,...,...,...,...,...,...,...,...
152,Zed,49.6,Sona,7.9,Azir,7.1,Vayne,5.6
153,Ziggs,51.4,Sona,12.9,Lucian,5.8,Lulu,5.8
154,Zilean,52.1,Anivia,8.8,Swain,7.4,Akshan,8.6
155,Zoe,46.8,Jarvan IV,7.7,LeBlanc,6.2,Sona,8.9
156,Zyra,50.7,Vi,10.9,Janna,6.0,Sona,6.5

In [5]:
df.shape

(2060, 8)

# Data prep

###### Checking typos

In [6]:
df.describe()

       player_champ  ally_champ1  ally_champ2  enemy_champ1  enemy_champ2
count   2060.000000  2060.000000  2060.000000   2060.000000   2060.000000
mean     144.226699   157.016019   148.313107    173.200000    139.126214
std      173.955755   205.081434   168.729373    229.466342    162.640032
min        1.000000     2.000000     1.000000      1.000000      2.000000
25%       40.000000    39.000000    48.000000     41.000000     56.000000
50%       86.000000    92.000000   104.000000     92.000000    104.000000
75%      154.000000   164.000000   166.000000    164.000000    154.000000
max      887.000000   887.000000   887.000000    887.000000    887.000000

In [7]:
champion_name_id = df.iloc[:, :2]
champion_name_id

      player_champ player_champ_name
0               51           Caitlyn
1               22              Ashe
2               51           Caitlyn
3               67             Vayne
4               51           Caitlyn
...            ...               ...
2055           114             Fiora
2056           114             Fiora
2057           114             Fiora
2058           122            Darius
2059           114             Fiora

[2060 rows x 2 columns]

In [8]:
champion_name_id['player_champ_name'].unique()

array(['Caitlyn', 'Ashe', 'Vayne', 'Jinx', 'Jhin', 'Lillia', 'Aphelios',
       'Jax', 'Morgana', 'Leona', 'Akali', 'Renekton', 'LeeSin', 'Akshan',
       'Pyke', 'Qiyana', 'Katarina', 'Kaisa', 'Cassiopeia', 'Graves',
       'Volibear', 'Kalista', 'Lucian', 'Ezreal', 'Viktor', 'Irelia',
       'Taliyah', 'Syndra', 'Chogath', 'Orianna', 'AurelionSol',
       'TwistedFate', 'Yone', 'Xerath', 'Zoe', 'Anivia', 'Vex', 'Shaco',
       'MonkeyKing', 'Braum', 'Vi', 'Kassadin', 'XinZhao', 'Talon',
       'FiddleSticks', 'Nunu', 'JarvanIV', 'Viego', 'Gwen', 'Ekko',
       'Shyvana', 'Skarner', 'Galio', 'Nautilus', 'Lulu', 'Olaf', 'Elise',
       'Zed', 'MissFortune', 'RekSai', 'Warwick', 'Kindred', 'Taric',
       'Tristana', 'Kayn', 'Diana', 'Azir', 'Draven', 'Neeko', 'Urgot',
       'Yuumi', 'Annie', 'Ivern', 'Karthus', 'Sion', 'Teemo', 'Quinn',
       'Kled', 'Lux', 'Darius', 'Illaoi', 'Mordekaiser', 'Blitzcrank',
       'Rumble', 'Bard', 'Ryze', 'Hecarim', 'Heimerdinger', 'Soraka',
       'Trundle', 'Lissandra', 'Zyra', 'Camille', 'Thresh', 'Kennen',
       'Karma', 'Senna', 'Maokai', 'Rell', 'Singed', 'Sejuani', 'Alistar',
       'Udyr', 'Malphite', 'KogMaw', 'Brand', 'DrMundo', 'Rengar',
       'Yorick', 'Nasus', 'Poppy', 'Twitch', 'Corki', 'Zac', 'Sivir',
       'Gnar', 'Fiora', 'Gragas', 'Tryndamere', 'Samira', 'Jayce', 'Sett',
       'Rammus', 'Pantheon', 'Ornn', 'Sona', 'Riven', 'Ziggs', 'Velkoz',
       'Vladimir', 'Nocturne', 'Khazix', 'Sylas', 'Amumu', 'Xayah',
       'Seraphine', 'Shen', 'Evelynn', 'Fizz', 'Aatrox', 'Varus',
       'Malzahar', 'Nami', 'Veigar', 'Swain', 'MasterYi', 'Nidalee',
       'Zilean', 'Rakan', 'Gangplank', 'Leblanc', 'Yasuo', 'Janna',
       'Kayle', 'TahmKench', 'Ahri', 'Garen'], dtype=object)

In [9]:
champion_name_id = champion_name_id.drop_duplicates()
champion_name_id = champion_name_id.reset_index(drop=True)
champion_name_id['player_champ_name'] = champion_name_id['player_champ_name'].str.lower()
champion_name_id['player_champ_name'] = champion_name_id['player_champ_name'].str.replace("monkeyking","wukong", regex=True)

champion_name_id

     player_champ player_champ_name
0              51           caitlyn
1              22              ashe
2              67             vayne
3             222              jinx
4             202              jhin
..            ...               ...
152            40             janna
153            10             kayle
154           223         tahmkench
155           103              ahri
156            86             garen

[157 rows x 2 columns]

In [10]:
champion_name_id_dict = champion_name_id.set_index('player_champ_name').to_dict()
champion_name_id_dict = champion_name_id_dict.get('player_champ')
champion_name_id_dict

{'caitlyn': 51,
 'ashe': 22,
 'vayne': 67,
 'jinx': 222,
 'jhin': 202,
 'lillia': 876,
 'aphelios': 523,
 'jax': 24,
 'morgana': 25,
 'leona': 89,
 'akali': 84,
 'renekton': 58,
 'leesin': 64,
 'akshan': 166,
 'pyke': 555,
 'qiyana': 246,
 'katarina': 55,
 'kaisa': 145,
 'cassiopeia': 69,
 'graves': 104,
 'volibear': 106,
 'kalista': 429,
 'lucian': 236,
 'ezreal': 81,
 'viktor': 112,
 'irelia': 39,
 'taliyah': 163,
 'syndra': 134,
 'chogath': 31,
 'orianna': 61,
 'aurelionsol': 136,
 'twistedfate': 4,
 'yone': 777,
 'xerath': 101,
 'zoe': 142,
 'anivia': 34,
 'vex': 711,
 'shaco': 35,
 'wukong': 62,
 'braum': 201,
 'vi': 254,
 'kassadin': 38,
 'xinzhao': 5,
 'talon': 91,
 'fiddlesticks': 9,
 'nunu': 20,
 'jarvaniv': 59,
 'viego': 234,
 'gwen': 887,
 'ekko': 245,
 'shyvana': 102,
 'skarner': 72,
 'galio': 3,
 'nautilus': 111,
 'lulu': 117,
 'olaf': 2,
 'elise': 60,
 'zed': 238,
 'missfortune': 21,
 'reksai': 421,
 'warwick': 19,
 'kindred': 203,
 'taric': 44,
 'tristana': 18,
 'kayn': 141,
 'diana': 131,
 'azir': 268,
 'draven': 119,
 'neeko': 518,
 'urgot': 6,
 'yuumi': 350,
 'annie': 1,
 'ivern': 427,
 'karthus': 30,
 'sion': 14,
 'teemo': 17,
 'quinn': 133,
 'kled': 240,
 'lux': 99,
 'darius': 122,
 'illaoi': 420,
 'mordekaiser': 82,
 'blitzcrank': 53,
 'rumble': 68,
 'bard': 432,
 'ryze': 13,
 'hecarim': 120,
 'heimerdinger': 74,
 'soraka': 16,
 'trundle': 48,
 'lissandra': 127,
 'zyra': 143,
 'camille': 164,
 'thresh': 412,
 'kennen': 85,
 'karma': 43,
 'senna': 235,
 'maokai': 57,
 'rell': 526,
 'singed': 27,
 'sejuani': 113,
 'alistar': 12,
 'udyr': 77,
 'malphite': 54,
 'kogmaw': 96,
 'brand': 63,
 'drmundo': 36,
 'rengar': 107,
 'yorick': 83,
 'nasus': 75,
 'poppy': 78,
 'twitch': 29,
 'corki': 42,
 'zac': 154,
 'sivir': 15,
 'gnar': 150,
 'fiora': 114,
 'gragas': 79,
 'tryndamere': 23,
 'samira': 360,
 'jayce': 126,
 'sett': 875,
 'rammus': 33,
 'pantheon': 80,
 'ornn': 516,
 'sona': 37,
 'riven': 92,
 'ziggs': 115,
 'velkoz': 161,
 'vladimir': 8,
 'nocturne': 56,
 'khazix': 121,
 'sylas': 517,
 'amumu': 32,
 'xayah': 498,
 'seraphine': 147,
 'shen': 98,
 'evelynn': 28,
 'fizz': 105,
 'aatrox': 266,
 'varus': 110,
 'malzahar': 90,
 'nami': 267,
 'veigar': 45,
 'swain': 50,
 'masteryi': 11,
 'nidalee': 76,
 'zilean': 26,
 'rakan': 497,
 'gangplank': 41,
 'leblanc': 7,
 'yasuo': 157,
 'janna': 40,
 'kayle': 10,
 'tahmkench': 223,
 'ahri': 103,
 'garen': 86}

In [11]:
champion_id_name_dict = champion_name_id.set_index('player_champ').to_dict()
champion_id_name_dict = champion_id_name_dict.get('player_champ_name')
champion_id_name_dict

{51: 'caitlyn',
 22: 'ashe',
 67: 'vayne',
 222: 'jinx',
 202: 'jhin',
 876: 'lillia',
 523: 'aphelios',
 24: 'jax',
 25: 'morgana',
 89: 'leona',
 84: 'akali',
 58: 'renekton',
 64: 'leesin',
 166: 'akshan',
 555: 'pyke',
 246: 'qiyana',
 55: 'katarina',
 145: 'kaisa',
 69: 'cassiopeia',
 104: 'graves',
 106: 'volibear',
 429: 'kalista',
 236: 'lucian',
 81: 'ezreal',
 112: 'viktor',
 39: 'irelia',
 163: 'taliyah',
 134: 'syndra',
 31: 'chogath',
 61: 'orianna',
 136: 'aurelionsol',
 4: 'twistedfate',
 777: 'yone',
 101: 'xerath',
 142: 'zoe',
 34: 'anivia',
 711: 'vex',
 35: 'shaco',
 62: 'wukong',
 201: 'braum',
 254: 'vi',
 38: 'kassadin',
 5: 'xinzhao',
 91: 'talon',
 9: 'fiddlesticks',
 20: 'nunu',
 59: 'jarvaniv',
 234: 'viego',
 887: 'gwen',
 245: 'ekko',
 102: 'shyvana',
 72: 'skarner',
 3: 'galio',
 111: 'nautilus',
 117: 'lulu',
 2: 'olaf',
 60: 'elise',
 238: 'zed',
 21: 'missfortune',
 421: 'reksai',
 19: 'warwick',
 203: 'kindred',
 44: 'taric',
 18: 'tristana',
 141: 'kayn',
 131: 'diana',
 268: 'azir',
 119: 'draven',
 518: 'neeko',
 6: 'urgot',
 350: 'yuumi',
 1: 'annie',
 427: 'ivern',
 30: 'karthus',
 14: 'sion',
 17: 'teemo',
 133: 'quinn',
 240: 'kled',
 99: 'lux',
 122: 'darius',
 420: 'illaoi',
 82: 'mordekaiser',
 53: 'blitzcrank',
 68: 'rumble',
 432: 'bard',
 13: 'ryze',
 120: 'hecarim',
 74: 'heimerdinger',
 16: 'soraka',
 48: 'trundle',
 127: 'lissandra',
 143: 'zyra',
 164: 'camille',
 412: 'thresh',
 85: 'kennen',
 43: 'karma',
 235: 'senna',
 57: 'maokai',
 526: 'rell',
 27: 'singed',
 113: 'sejuani',
 12: 'alistar',
 77: 'udyr',
 54: 'malphite',
 96: 'kogmaw',
 63: 'brand',
 36: 'drmundo',
 107: 'rengar',
 83: 'yorick',
 75: 'nasus',
 78: 'poppy',
 29: 'twitch',
 42: 'corki',
 154: 'zac',
 15: 'sivir',
 150: 'gnar',
 114: 'fiora',
 79: 'gragas',
 23: 'tryndamere',
 360: 'samira',
 126: 'jayce',
 875: 'sett',
 33: 'rammus',
 80: 'pantheon',
 516: 'ornn',
 37: 'sona',
 92: 'riven',
 115: 'ziggs',
 161: 'velkoz',
 8: 'vladimir',
 56: 'nocturne',
 121: 'khazix',
 517: 'sylas',
 32: 'amumu',
 498: 'xayah',
 147: 'seraphine',
 98: 'shen',
 28: 'evelynn',
 105: 'fizz',
 266: 'aatrox',
 110: 'varus',
 90: 'malzahar',
 267: 'nami',
 45: 'veigar',
 50: 'swain',
 11: 'masteryi',
 76: 'nidalee',
 26: 'zilean',
 497: 'rakan',
 41: 'gangplank',
 7: 'leblanc',
 157: 'yasuo',
 40: 'janna',
 10: 'kayle',
 223: 'tahmkench',
 103: 'ahri',
 86: 'garen'}

In [12]:
print(champion_id_name_dict.get('Akshan'))
print( type(champion_id_name_dict.get('Akshan')))

None
<class 'NoneType'>

#### Impossible value

In [13]:
df.isna().sum()

player_champ          0
player_champ_name     0
player_position      99
is_player_win         0
ally_champ1           0
ally_champ2           0
enemy_champ1          0
enemy_champ2          0
dtype: int64

99 matches have NaN position, it means there are 99 Normal mode games <br>
Since we are building the models for rank game, 99 normal games should be removed

In [14]:
df = df.dropna()
df['player_champ_name'] = df['player_champ_name'].str.lower()
df

C:\Users\tphuo\AppData\Local\Temp/ipykernel_13852/560720356.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_champ_name'] = df['player_champ_name'].str.lower()

,player_champ,player_champ_name,player_position,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2
0,51,caitlyn,BOTTOM,True,777,4,114,154
1,22,ashe,BOTTOM,True,30,91,62,76
2,51,caitlyn,BOTTOM,False,85,104,36,91
3,67,vayne,BOTTOM,False,17,76,104,234
4,51,caitlyn,BOTTOM,True,39,28,24,76
...,...,...,...,...,...,...,...,...
1956,92,riven,TOP,False,154,8,240,141
1957,92,riven,TOP,True,64,26,41,11
1958,92,riven,TOP,True,28,112,875,131
1959,92,riven,TOP,False,245,238,112,20
1960,523,aphelios,TOP,True,78,107,142,56

In [15]:
df['player_champ_name'] = df['player_champ_name'].str.lower()

C:\Users\tphuo\AppData\Local\Temp/ipykernel_13852/3079484337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_champ_name'] = df['player_champ_name'].str.lower()

In [16]:
df['player_champ_name'].unique()

array(['caitlyn', 'ashe', 'vayne', 'jinx', 'jhin', 'lillia', 'aphelios',
       'jax', 'morgana', 'leona', 'akali', 'renekton', 'leesin', 'akshan',
       'pyke', 'qiyana', 'katarina', 'kaisa', 'cassiopeia', 'graves',
       'volibear', 'kalista', 'lucian', 'ezreal', 'viktor', 'irelia',
       'taliyah', 'syndra', 'chogath', 'orianna', 'aurelionsol',
       'twistedfate', 'yone', 'xerath', 'zoe', 'anivia', 'vex', 'shaco',
       'monkeyking', 'braum', 'vi', 'kassadin', 'xinzhao', 'talon',
       'fiddlesticks', 'nunu', 'jarvaniv', 'viego', 'gwen', 'ekko',
       'shyvana', 'skarner', 'galio', 'nautilus', 'lulu', 'olaf', 'elise',
       'zed', 'missfortune', 'reksai', 'warwick', 'kindred', 'taric',
       'tristana', 'kayn', 'diana', 'azir', 'draven', 'neeko', 'urgot',
       'yuumi', 'annie', 'ivern', 'karthus', 'sion', 'teemo', 'quinn',
       'kled', 'lux', 'darius', 'illaoi', 'mordekaiser', 'blitzcrank',
       'rumble', 'bard', 'ryze', 'hecarim', 'heimerdinger', 'soraka',
       'trundle', 'lissandra', 'zyra', 'camille', 'thresh', 'kennen',
       'karma', 'senna', 'maokai', 'rell', 'singed', 'sejuani', 'alistar',
       'udyr', 'malphite', 'kogmaw', 'brand', 'drmundo', 'rengar',
       'yorick', 'nasus', 'poppy', 'twitch', 'corki', 'zac', 'sivir',
       'gnar', 'fiora', 'gragas', 'tryndamere', 'samira', 'jayce', 'sett',
       'rammus', 'pantheon', 'ornn', 'sona', 'riven', 'ziggs', 'velkoz',
       'vladimir', 'nocturne', 'khazix', 'sylas', 'amumu', 'xayah',
       'seraphine', 'shen', 'evelynn', 'fizz', 'aatrox', 'varus',
       'malzahar', 'nami', 'veigar', 'swain', 'masteryi', 'nidalee',
       'zilean', 'rakan', 'gangplank', 'leblanc', 'yasuo', 'janna',
       'kayle', 'tahmkench', 'ahri'], dtype=object)

###### Sanity check

In LoL, there is not any champ name MonkeyKing. <br>
Nunu&Willump ==> change to nunu <br>
MonkeyKing ==> change to wukong

In [17]:
df['player_champ_name'] = df['player_champ_name'].str.replace("monkeyking","wukong", regex=True)

C:\Users\tphuo\AppData\Local\Temp/ipykernel_13852/3921282371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_champ_name'] = df['player_champ_name'].str.replace("monkeyking","wukong", regex=True)

In [18]:
synergy_counters_df['best_partner'] = synergy_counters_df['best_partner'].str.replace(".","", regex=True).replace("\'","", regex=True).replace(" ","", regex=True).str.lower().replace("nunu&willump","nunu", regex=True)
synergy_counters_df['my_champion'] = synergy_counters_df['my_champion'].str.replace(".","", regex=True).replace("\'","", regex=True).replace(" ","", regex=True).str.lower().replace("nunu&willump","nunu", regex=True)
synergy_counters_df['worst_enemy_for'] = synergy_counters_df['worst_enemy_for'].str.replace(".","", regex=True).replace("\'","", regex=True).replace(" ","", regex=True).str.lower().replace("nunu&willump","nunu", regex=True)
synergy_counters_df['is_countered_by'] = synergy_counters_df['is_countered_by'].str.replace(".","", regex=True).replace("\'","", regex=True).replace(" ","", regex=True).str.lower().replace("nunu&willump","nunu", regex=True)

In [19]:
synergy_counters_df

,my_champion,win_rate(%),best_partner,synergy(%),worst_enemy_for,counter(%),is_countered_by,countered(%)
0,aatrox,48.9,rengar,6.5,gangplank,6.8,gwen,5.7
1,ahri,50.5,malphite,8.1,leblanc,4.8,cassiopeia,5.4
2,akali,47.3,amumu,7.2,gwen,6.5,shen,7.7
3,akshan,52.5,amumu,9.6,zoe,9.2,tahmkench,7.0
4,alistar,49.9,trundle,9.6,thresh,6.0,bard,5.0
...,...,...,...,...,...,...,...,...
152,zed,49.6,sona,7.9,azir,7.1,vayne,5.6
153,ziggs,51.4,sona,12.9,lucian,5.8,lulu,5.8
154,zilean,52.1,anivia,8.8,swain,7.4,akshan,8.6
155,zoe,46.8,jarvaniv,7.7,leblanc,6.2,sona,8.9
156,zyra,50.7,vi,10.9,janna,6.0,sona,6.5

In [20]:
synergy_counters_df['my_champion'].unique()

array(['aatrox', 'ahri', 'akali', 'akshan', 'alistar', 'amumu', 'anivia',
       'annie', 'aphelios', 'ashe', 'aurelionsol', 'azir', 'bard',
       'blitzcrank', 'brand', 'braum', 'caitlyn', 'camille', 'cassiopeia',
       'chogath', 'corki', 'darius', 'diana', 'drmundo', 'draven', 'ekko',
       'elise', 'evelynn', 'ezreal', 'fiddlesticks', 'fiora', 'fizz',
       'galio', 'gangplank', 'garen', 'gnar', 'gragas', 'graves', 'gwen',
       'hecarim', 'heimerdinger', 'illaoi', 'irelia', 'ivern', 'janna',
       'jarvaniv', 'jax', 'jayce', 'jhin', 'jinx', 'kaisa', 'kalista',
       'karma', 'karthus', 'kassadin', 'katarina', 'kayle', 'kayn',
       'kennen', 'khazix', 'kindred', 'kled', 'kogmaw', 'leblanc',
       'leesin', 'leona', 'lillia', 'lissandra', 'lucian', 'lulu', 'lux',
       'malphite', 'malzahar', 'maokai', 'masteryi', 'missfortune',
       'mordekaiser', 'morgana', 'nami', 'nasus', 'nautilus', 'neeko',
       'nidalee', 'nocturne', 'nunu', 'olaf', 'orianna', 'ornn',
       'pantheon', 'poppy', 'pyke', 'qiyana', 'quinn', 'rakan', 'rammus',
       'reksai', 'rell', 'renekton', 'rengar', 'riven', 'rumble', 'ryze',
       'samira', 'sejuani', 'senna', 'seraphine', 'sett', 'shaco', 'shen',
       'shyvana', 'singed', 'sion', 'sivir', 'skarner', 'sona', 'soraka',
       'swain', 'sylas', 'syndra', 'tahmkench', 'taliyah', 'talon',
       'taric', 'teemo', 'thresh', 'tristana', 'trundle', 'tryndamere',
       'twistedfate', 'twitch', 'udyr', 'urgot', 'varus', 'vayne',
       'veigar', 'velkoz', 'vex', 'vi', 'viego', 'viktor', 'vladimir',
       'volibear', 'warwick', 'wukong', 'xayah', 'xerath', 'xinzhao',
       'yasuo', 'yone', 'yorick', 'yuumi', 'zac', 'zed', 'ziggs',
       'zilean', 'zoe', 'zyra'], dtype=object)

In [21]:
synergy_counters_df['worst_enemy_for'].unique()

array(['gangplank', 'leblanc', 'gwen', 'zoe', 'thresh', 'talon', 'yone',
       'tristana', 'lucian', 'yasuo', 'akali', 'braum', 'senna', 'swain',
       'leona', 'aphelios', 'wukong', 'riven', 'orianna', 'kled',
       'katarina', 'jayce', 'sivir', 'irelia', 'kindred', 'nidalee',
       'kalista', 'xerath', 'renekton', 'ivern', 'aatrox', 'qiyana',
       'ryze', 'ekko', 'pyke', 'lillia', 'sylas', 'pantheon', 'nunu',
       'veigar', 'gragas', 'nocturne', 'elise', 'samira', 'annie',
       'rengar', 'zed', 'varus', 'azir', 'jax', 'illaoi', 'taric',
       'leesin', 'velkoz', 'rell', 'bard', 'karma', 'malphite', 'graves',
       'rammus', 'draven', 'olaf', 'hecarim', 'neeko', 'mordekaiser',
       'janna'], dtype=object)

In [22]:
synergy_counters_df['my_champion'] = [champion_name_id_dict.get(champion) for champion in synergy_counters_df['my_champion']]
synergy_counters_df

,my_champion,win_rate(%),best_partner,synergy(%),worst_enemy_for,counter(%),is_countered_by,countered(%)
0,266,48.9,rengar,6.5,gangplank,6.8,gwen,5.7
1,103,50.5,malphite,8.1,leblanc,4.8,cassiopeia,5.4
2,84,47.3,amumu,7.2,gwen,6.5,shen,7.7
3,166,52.5,amumu,9.6,zoe,9.2,tahmkench,7.0
4,12,49.9,trundle,9.6,thresh,6.0,bard,5.0
...,...,...,...,...,...,...,...,...
152,238,49.6,sona,7.9,azir,7.1,vayne,5.6
153,115,51.4,sona,12.9,lucian,5.8,lulu,5.8
154,26,52.1,anivia,8.8,swain,7.4,akshan,8.6
155,142,46.8,jarvaniv,7.7,leblanc,6.2,sona,8.9
156,143,50.7,vi,10.9,janna,6.0,sona,6.5

In [23]:
synergy_counters_df['my_champion'].unique()

array([266, 103,  84, 166,  12,  32,  34,   1, 523,  22, 136, 268, 432,
        53,  63, 201,  51, 164,  69,  31,  42, 122, 131,  36, 119, 245,
        60,  28,  81,   9, 114, 105,   3,  41,  86, 150,  79, 104, 887,
       120,  74, 420,  39, 427,  40,  59,  24, 126, 202, 222, 145, 429,
        43,  30,  38,  55,  10, 141,  85, 121, 203, 240,  96,   7,  64,
        89, 876, 127, 236, 117,  99,  54,  90,  57,  11,  21,  82,  25,
       267,  75, 111, 518,  76,  56,  20,   2,  61, 516,  80,  78, 555,
       246, 133, 497,  33, 421, 526,  58, 107,  92,  68,  13, 360, 113,
       235, 147, 875,  35,  98, 102,  27,  14,  15,  72,  37,  16,  50,
       517, 134, 223, 163,  91,  44,  17, 412,  18,  48,  23,   4,  29,
        77,   6, 110,  67,  45, 161, 711, 254, 234, 112,   8, 106,  19,
        62, 498, 101,   5, 157, 777,  83, 350, 154, 238, 115,  26, 142,
       143], dtype=int64)

In [24]:
synergy_counters_df.isna().sum()

my_champion        0
win_rate(%)        0
best_partner       0
synergy(%)         0
worst_enemy_for    0
counter(%)         0
is_countered_by    0
countered(%)       0
dtype: int64

# Feature engineering

In [25]:
synergy_counters_df['best_partner'] = [champion_name_id_dict.get(champion) for champion in synergy_counters_df['best_partner']]
synergy_counters_df['worst_enemy_for'] = [champion_name_id_dict.get(champion) for champion in synergy_counters_df['worst_enemy_for']]
synergy_counters_df['is_countered_by'] = [champion_name_id_dict.get(champion) for champion in synergy_counters_df['is_countered_by']]

synergy_counters_df

,my_champion,win_rate(%),best_partner,synergy(%),worst_enemy_for,counter(%),is_countered_by,countered(%)
0,266,48.9,107,6.5,41,6.8,887,5.7
1,103,50.5,54,8.1,7,4.8,69,5.4
2,84,47.3,32,7.2,887,6.5,98,7.7
3,166,52.5,32,9.6,142,9.2,223,7.0
4,12,49.9,48,9.6,412,6.0,432,5.0
...,...,...,...,...,...,...,...,...
152,238,49.6,37,7.9,268,7.1,67,5.6
153,115,51.4,37,12.9,236,5.8,117,5.8
154,26,52.1,34,8.8,50,7.4,166,8.6
155,142,46.8,59,7.7,7,6.2,37,8.9
156,143,50.7,254,10.9,40,6.0,37,6.5

In [26]:
synergy_counters_df.isna().sum()

my_champion        0
win_rate(%)        0
best_partner       0
synergy(%)         0
worst_enemy_for    0
counter(%)         0
is_countered_by    0
countered(%)       0
dtype: int64

In [27]:
df

,player_champ,player_champ_name,player_position,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2
0,51,caitlyn,BOTTOM,True,777,4,114,154
1,22,ashe,BOTTOM,True,30,91,62,76
2,51,caitlyn,BOTTOM,False,85,104,36,91
3,67,vayne,BOTTOM,False,17,76,104,234
4,51,caitlyn,BOTTOM,True,39,28,24,76
...,...,...,...,...,...,...,...,...
1956,92,riven,TOP,False,154,8,240,141
1957,92,riven,TOP,True,64,26,41,11
1958,92,riven,TOP,True,28,112,875,131
1959,92,riven,TOP,False,245,238,112,20
1960,523,aphelios,TOP,True,78,107,142,56

Add columns: win_rate(%), best_partner, synergy(%), is_countered_by, countered(%) into df

In [28]:
synergy_counters_dict = synergy_counters_df.set_index('my_champion').to_dict()
synergy_counters_dict

{'win_rate(%)': {266: 48.9,
  103: 50.5,
  84: 47.3,
  166: 52.5,
  12: 49.9,
  32: 52.3,
  34: 52.8,
  1: 50.6,
  523: 46.4,
  22: 51.7,
  136: 49.0,
  268: 44.9,
  432: 49.3,
  53: 51.0,
  63: 50.7,
  201: 50.0,
  51: 48.7,
  164: 49.7,
  69: 51.9,
  31: 50.4,
  42: 49.7,
  122: 50.0,
  131: 49.4,
  36: 52.5,
  119: 50.1,
  245: 49.8,
  60: 50.0,
  28: 48.8,
  81: 48.5,
  9: 51.0,
  114: 49.8,
  105: 50.0,
  3: 49.1,
  41: 45.5,
  86: 52.3,
  150: 49.2,
  79: 49.0,
  104: 50.8,
  887: 48.4,
  120: 51.2,
  74: 51.3,
  420: 50.2,
  39: 49.3,
  427: 48.6,
  40: 51.3,
  59: 50.0,
  24: 50.5,
  126: 48.5,
  202: 51.0,
  222: 50.7,
  145: 48.9,
  429: 47.2,
  43: 48.9,
  30: 50.1,
  38: 51.1,
  55: 48.6,
  10: 52.4,
  141: 49.3,
  85: 47.9,
  121: 51.0,
  203: 49.3,
  240: 49.6,
  96: 52.7,
  7: 47.6,
  64: 47.9,
  89: 50.0,
  876: 49.0,
  127: 50.2,
  236: 48.1,
  117: 52.1,
  99: 50.7,
  54: 50.5,
  90: 51.9,
  57: 50.1,
  11: 50.4,
  21: 48.4,
  82: 49.4,
  25: 49.6,
  267: 52.3,
  75: 51.7,
  111: 50.0,
  518: 47.4,
  76: 47.0,
  56: 48.2,
  20: 52.0,
  2: 47.3,
  61: 48.7,
  516: 51.3,
  80: 49.1,
  78: 51.2,
  555: 49.0,
  246: 48.6,
  133: 51.9,
  497: 49.9,
  33: 52.0,
  421: 51.6,
  526: 50.3,
  58: 47.8,
  107: 47.3,
  92: 49.3,
  68: 47.6,
  13: 44.8,
  360: 49.1,
  113: 51.5,
  235: 48.7,
  147: 49.7,
  875: 50.0,
  35: 50.1,
  98: 52.6,
  102: 50.3,
  27: 50.2,
  14: 49.6,
  15: 50.7,
  72: 51.2,
  37: 55.0,
  16: 52.9,
  50: 49.0,
  517: 49.1,
  134: 48.8,
  223: 51.5,
  163: 50.4,
  91: 49.6,
  44: 47.9,
  17: 51.4,
  412: 47.8,
  18: 49.1,
  48: 52.7,
  23: 50.3,
  4: 48.6,
  29: 50.2,
  77: 49.9,
  6: 51.8,
  110: 47.0,
  67: 53.4,
  45: 49.6,
  161: 50.7,
  711: 50.4,
  254: 52.8,
  234: 50.8,
  112: 52.5,
  8: 50.2,
  106: 49.8,
  19: 51.6,
  62: 49.5,
  498: 50.2,
  101: 50.7,
  5: 51.4,
  157: 49.1,
  777: 49.3,
  83: 51.7,
  350: 49.4,
  154: 51.4,
  238: 49.6,
  115: 51.4,
  26: 52.1,
  142: 46.8,
  143: 50.7},
 'best_partner': {266: 107,
  103: 54,
  84: 32,
  166: 32,
  12: 48,
  32: 37,
  34: 98,
  1: 254,
  523: 34,
  22: 166,
  136: 117,
  268: 234,
  432: 48,
  53: 106,
  63: 86,
  201: 34,
  51: 36,
  164: 90,
  69: 98,
  31: 67,
  42: 6,
  122: 245,
  131: 37,
  36: 101,
  119: 101,
  245: 5,
  60: 75,
  28: 37,
  81: 37,
  9: 37,
  114: 96,
  105: 498,
  3: 16,
  41: 57,
  86: 37,
  150: 90,
  79: 246,
  104: 48,
  887: 26,
  120: 101,
  74: 234,
  420: 67,
  39: 106,
  427: 157,
  40: 83,
  59: 34,
  24: 90,
  126: 37,
  202: 90,
  222: 32,
  145: 115,
  429: 254,
  43: 5,
  30: 166,
  38: 143,
  55: 10,
  10: 48,
  141: 86,
  85: 67,
  121: 34,
  203: 201,
  240: 101,
  96: 20,
  7: 96,
  64: 69,
  89: 3,
  876: 16,
  127: 5,
  236: 37,
  117: 161,
  99: 166,
  54: 48,
  90: 24,
  57: 121,
  11: 90,
  21: 36,
  82: 48,
  25: 69,
  267: 33,
  75: 50,
  111: 115,
  518: 67,
  76: 38,
  56: 16,
  20: 37,
  2: 350,
  61: 48,
  516: 37,
  80: 223,
  78: 37,
  555: 48,
  246: 37,
  133: 112,
  497: 86,
  33: 267,
  421: 112,
  526: 17,
  58: 20,
  107: 266,
  92: 34,
  68: 67,
  13: 117,
  360: 526,
  113: 37,
  235: 98,
  147: 33,
  875: 102,
  35: 6,
  98: 34,
  102: 16,
  27: 166,
  14: 166,
  15: 10,
  72: 67,
  37: 86,
  16: 3,
  50: 75,
  517: 15,
  134: 20,
  223: 37,
  163: 67,
  91: 34,
  44: 104,
  17: 37,
  412: 115,
  18: 33,
  48: 10,
  23: 37,
  4: 54,
  29: 6,
  77: 67,
  6: 29,
  110: 37,
  67: 131,
  45: 143,
  161: 48,
  711: 37,
  254: 83,
  234: 161,
  112: 133,
  8: 6,
  106: 201,
  19: 15,
  62: 121,
  498: 37,
  101: 90,
  5: 516,
  157: 37,
  777: 1,
  83: 254,
  350: 2,
  154: 34,
  238: 37,
  115: 37,
  26: 34,
  142: 59,
  143: 254},
 'synergy(%)': {266: 6.5,
  103: 8.1,
  84: 7.2,
  166: 9.6,
  12: 9.6,
  32: 10.6,
  34: 8.5,
  1: 7.6,
  523: 8.5,
  22: 7.6,
  136: 7.0,
  268: 8.3,
  432: 7.9,
  53: 6.6,
  63: 7.2,
  201: 8.0,
  51: 4.8,
  164: 9.5,
  69: 8.6,
  31: 6.3,
  42: 8.1,
  122: 6.8,
  131: 8.3,
  36: 10.6,
  119: 9.4,
  245: 7.7,
  60: 9.1,
  28: 10.3,
  81: 7.2,
  9: 12.0,
  114: 7.9,
  105: 7.1,
  3: 12.4,
  41: 7.2,
  86: 12.8,
  150: 5.5,
  79: 5.4,
  104: 7.8,
  887: 12.0,
  120: 7.1,
  74: 4.2,
  420: 8.0,
  39: 7.5,
  427: 5.5,
  40: 6.1,
  59: 9.3,
  24: 9.5,
  126: 8.3,
  202: 5.7,
  222: 6.1,
  145: 11.0,
  429: 6.7,
  43: 6.9,
  30: 11.9,
  38: 7.4,
  55: 5.9,
  10: 9.8,
  141: 6.1,
  85: 9.1,
  121: 8.5,
  203: 8.4,
  240: 7.1,
  96: 7.5,
  7: 6.1,
  64: 6.1,
  89: 6.7,
  876: 9.3,
  127: 7.2,
  236: 9.1,
  117: 6.6,
  99: 6.2,
  54: 9.9,
  90: 8.1,
  57: 7.1,
  11: 7.8,
  21: 8.1,
  82: 6.9,
  25: 8.9,
  267: 7.1,
  75: 8.8,
  111: 9.3,
  518: 9.8,
  76: 4.9,
  56: 6.6,
  20: 10.3,
  2: 8.2,
  61: 9.6,
  516: 8.6,
  80: 5.9,
  78: 7.9,
  555: 7.3,
  246: 12.5,
  133: 8.2,
  497: 8.8,
  33: 7.4,
  421: 6.6,
  526: 7.8,
  58: 7.2,
  107: 8.2,
  92: 8.5,
  68: 6.4,
  13: 6.3,
  360: 7.7,
  113: 11.3,
  235: 7.1,
  147: 7.4,
  875: 8.3,
  35: 7.5,
  98: 8.7,
  102: 10.2,
  27: 6.6,
  14: 9.1,
  15: 11.1,
  72: 8.8,
  37: 10.1,
  16: 8.6,
  50: 11.5,
  517: 7.3,
  134: 10.0,
  223: 9.0,
  163: 2.1,
  91: 10.2,
  44: 5.0,
  17: 7.0,
  412: 5.5,
  18: 10.0,
  48: 9.6,
  23: 9.8,
  4: 7.2,
  29: 9.3,
  77: 7.7,
  6: 7.8,
  110: 15.4,
  67: 7.7,
  45: 9.4,
  161: 10.2,
  711: 10.0,
  254: 8.3,
  234: 6.9,
  112: 7.6,
  8: 9.2,
  106: 8.9,
  19: 7.5,
  62: 8.0,
  498: 8.5,
  101: 8.1,
  5: 8.0,
  157: 6.1,
  777: 8.4,
  83: 9.3,
  350: 6.1,
  154: 9.6,
  238: 7.9,
  115: 12.9,
  26: 8.8,
  142: 7.7,
  143: 10.9},
 'worst_enemy_for': {266: 41,
  103: 7,
  84: 887,
  166: 142,
  12: 412,
  32: 91,
  34: 7,
  1: 777,
  523: 18,
  22: 236,
  136: 157,
  268: 84,
  432: 201,
  53: 235,
  63: 50,
  201: 89,
  51: 523,
  164: 62,
  69: 7,
  31: 92,
  42: 61,
  122: 240,
  131: 55,
  36: 126,
  119: 15,
  245: 39,
  60: 203,
  28: 76,
  81: 429,
  9: 76,
  114: 240,
  105: 101,
  3: 84,
  41: 58,
  86: 84,
  150: 41,
  79: 126,
  104: 427,
  887: 266,
  120: 246,
  74: 84,
  420: 777,
  39: 13,
  427: 245,
  40: 555,
  59: 876,
  24: 240,
  126: 517,
  202: 523,
  222: 429,
  145: 523,
  429: 523,
  43: 80,
  30: 20,
  38: 245,
  55: 45,
  10: 41,
  141: 79,
  85: 41,
  121: 56,
  203: 60,
  240: 39,
  96: 360,
  7: 1,
  64: 107,
  89: 101,
  876: 238,
  127: 157,
  236: 110,
  117: 80,
  99: 268,
  54: 24,
  90: 142,
  57: 555,
  11: 876,
  21: 429,
  82: 420,
  25: 201,
  267: 44,
  75: 126,
  111: 80,
  518: 157,
  76: 203,
  56: 107,
  20: 56,
  2: 64,
  61: 517,
  516: 58,
  80: 157,
  78: 246,
  555: 161,
  246: 39,
  133: 41,
  497: 526,
  33: 76,
  421: 238,
  526: 555,
  58: 84,
  107: 777,
  92: 84,
  68: 126,
  13: 7,
  360: 523,
  113: 91,
  235: 432,
  147: 50,
  875: 107,
  35: 427,
  98: 84,
  102: 91,
  27: 24,
  14: 41,
  15: 523,
  72: 64,
  37: 43,
  16: 50,
  50: 89,
  517: 54,
  134: 7,
  223: 41,
  163: 104,
  91: 79,
  44: 555,
  17: 41,
  412: 80,
  18: 110,
  48: 33,
  23: 39,
  4: 13,
  29: 110,
  77: 91,
  6: 41,
  110: 119,
  67: 429,
  45: 142,
  161: 235,
  711: 777,
  254: 427,
  234: 2,
  112: 13,
  8: 7,
  106: 120,
  19: 76,
  62: 39,
  498: 523,
  101: 235,
  5: 107,
  157: 518,
  777: 82,
  83: 126,
  350: 161,
  154: 107,
  238: 268,
  115: 236,
  26: 50,
  142: 7,
  143: 40},
 'counter(%)': {266: 6.8,
  103: 4.8,
  84: 6.5,
  166: 9.2,
  12: 6.0,
  32: 8.7,
  34: 6.4,
  1: 4.3,
  523: 3.9,
  22: 4.3,
  136: 4.0,
  268: 5.3,
  432: 8.5,
  53: 4.0,
  63: 6.0,
  201: 3.3,
  51: 4.5,
  164: 6.4,
  69: 6.9,
  31: 8.0,
  42: 8.1,
  122: 7.4,
  131: 9.5,
  36: 6.7,
  119: 3.2,
  245: 6.9,
  60: 7.9,
  28: 10.6,
  81: 4.6,
  9: 7.2,
  114: 8.7,
  105: 6.9,
  3: 9.9,
  41: 8.3,
  86: 5.4,
  150: 5.4,
  79: 6.1,
  104: 3.7,
  887: 8.3,
  120: 8.3,
  74: 4.0,
  420: 10.0,
  39: 3.3,
  427: 3.8,
  40: 5.4,
  59: 7.6,
  24: 7.8,
  126: 3.2,
  202: 4.2,
  222: 3.2,
  145: 8.3,
  429: 5.6,
  43: 2.1,
  30: 7.4,
  38: 5.4,
  55: 7.6,
  10: 7.2,
  141: 7.0,
  85: 4.2,
  121: 7.2,
  203: 6.8,
  240: 6.1,
  96: 7.2,
  7: 4.9,
  64: 4.9,
  89: 7.3,
  876: 5.8,
  127: 7.8,
  236: 2.8,
  117: 8.0,
  99: 6.4,
  54: 6.1,
  90: 3.3,
  57: 6.2,
  11: 16.9,
  21: 8.5,
  82: 5.4,
  25: 6.9,
  267: 5.6,
  75: 7.2,
  111: 1.9,
  518: 4.5,
  76: 11.8,
  56: 8.5,
  20: 3.5,
  2: 6.6,
  61: 9.3,
  516: 5.7,
  80: 6.5,
  78: 5.2,
  555: 9.5,
  246: 10.4,
  133: 4.5,
  497: 4.1,
  33: 3.3,
  421: 7.0,
  526: 6.1,
  58: 8.1,
  107: 9.0,
  92: 2.4,
  68: 8.5,
  13: 3.9,
  360: 3.8,
  113: 3.5,
  235: 4.0,
  147: 8.5,
  875: 5.8,
  35: 7.9,
  98: 4.5,
  102: 6.2,
  27: 7.3,
  14: 7.9,
  15: 6.2,
  72: 2.9,
  37: 4.7,
  16: 7.1,
  50: 8.2,
  517: 4.8,
  134: 6.1,
  223: 0.3,
  163: 4.0,
  91: 8.7,
  44: 10.3,
  17: 3.3,
  412: 11.3,
  18: 7.0,
  48: 6.8,
  23: 11.6,
  4: 5.9,
  29: 7.6,
  77: 7.6,
  6: 8.5,
  110: 5.1,
  67: 6.9,
  45: 4.3,
  161: 7.0,
  711: 5.8,
  254: 4.0,
  234: 6.8,
  112: 6.2,
  8: 9.8,
  106: 11.5,
  19: 5.7,
  62: 4.9,
  498: 5.4,
  101: 5.7,
  5: 5.5,
  157: 9.8,
  777: 6.9,
  83: 5.3,
  350: 9.8,
  154: 14.2,
  238: 7.1,
  115: 5.8,
  26: 7.4,
  142: 6.2,
  143: 6.0},
 'is_countered_by': {266: 887,
  103: 69,
  84: 98,
  166: 223,
  12: 432,
  32: 20,
  34: 101,
  1: 7,
  523: 15,
  22: 115,
  136: 112,
  268: 238,
  432: 143,
  53: 526,
  63: 101,
  201: 432,
  51: 15,
  164: 98,
  69: 101,
  31: 777,
  42: 166,
  122: 48,
  131: 48,
  36: 39,
  119: 115,
  245: 38,
  60: 19,
  28: 20,
  81: 67,
  9: 48,
  114: 10,
  105: 34,
  3: 99,
  41: 133,
  86: 10,
  150: 39,
  79: 254,
  104: 9,
  887: 166,
  120: 106,
  74: 82,
  420: 246,
  39: 254,
  427: 143,
  40: 32,
  59: 36,
  24: 36,
  126: 67,
  202: 96,
  222: 67,
  145: 21,
  429: 37,
  43: 11,
  30: 69,
  38: 131,
  55: 36,
  10: 11,
  141: 75,
  85: 20,
  121: 107,
  203: 114,
  240: 67,
  96: 34,
  7: 32,
  64: 37,
  89: 11,
  876: 112,
  127: 115,
  236: 37,
  117: 131,
  99: 517,
  54: 105,
  90: 101,
  57: 48,
  11: 498,
  21: 777,
  82: 16,
  25: 37,
  267: 517,
  75: 37,
  111: 157,
  518: 19,
  76: 20,
  56: 48,
  20: 234,
  2: 42,
  61: 86,
  516: 111,
  80: 19,
  78: 526,
  555: 120,
  246: 17,
  133: 37,
  497: 48,
  33: 234,
  421: 267,
  526: 516,
  58: 154,
  107: 31,
  92: 126,
  68: 4,
  13: 96,
  360: 254,
  113: 16,
  235: 16,
  147: 516,
  875: 104,
  35: 27,
  98: 120,
  102: 10,
  27: 10,
  14: 67,
  15: 234,
  72: 12,
  37: 37,
  16: 26,
  50: 17,
  517: 39,
  134: 98,
  223: 234,
  163: 32,
  91: 267,
  44: 6,
  17: 37,
  412: 96,
  18: 24,
  48: 6,
  23: 34,
  4: 96,
  29: 876,
  77: 36,
  6: 18,
  110: 22,
  67: 55,
  45: 37,
  161: 69,
  711: 48,
  254: 48,
  234: 101,
  112: 103,
  8: 24,
  106: 106,
  19: 164,
  62: 67,
  498: 166,
  101: 254,
  5: 90,
  157: 19,
  777: 777,
  83: 37,
  350: 106,
  154: 48,
  238: 67,
  115: 117,
  26: 166,
  142: 37,
  143: 37},
 'countered(%)': {266: 5.7,
  103: 5.4,
  84: 7.7,
  166: 7.0,
  12: 5.0,
  32: 5.0,
  34: 6.7,
  1: 5.4,
  523: 5.1,
  22: 4.6,
  136: 3.0,
  268: 8.7,
  432: 6.9,
  53: 5.5,
  63: 5.7,
  201: 7.8,
  51: 3.0,
  164: 5.4,
  69: 4.5,
  31: 4.2,
  42: 6.2,
  122: 6.6,
  131: 8.8,
  36: 5.6,
  119: 8.1,
  245: 8.2,
  60: 10.0,
  28: 5.9,
  81: 4.5,
  9: 10.1,
  114: 6.7,
  105: 7.8,
  3: 6.9,
  41: 7.8,
  86: 5.3,
  150: 7.2,
  79: 7.5,
  104: 7.0,
  887: 7.3,
  120: 10.8,
  74: 8.1,
  420: 7.4,
  39: 7.2,
  427: 7.7,
  40: 5.2,
  59: 8.7,
  24: 7.7,
  126: 4.8,
  202: 3.7,
  222: 4.2,
  145: 12.5,
  429: 6.8,
  43: 6.4,
  30: 5.4,
  38: 7.5,
  55: 6.5,
  10: 4.4,
  141: 3.0,
  85: 6.5,
  121: 11.1,
  203: 8.1,
  240: 4.4,
  96: 6.8,
  7: 5.7,
  64: 7.4,
  89: 5.6,
  876: 5.8,
  127: 6.6,
  236: 5.9,
  117: 5.7,
  99: 7.8,
  54: 8.6,
  90: 4.5,
  57: 5.1,
  11: 2.4,
  21: 8.5,
  82: 5.0,
  25: 5.2,
  267: 7.9,
  75: 6.4,
  111: 1.9,
  518: 10.2,
  76: 8.7,
  56: 5.7,
  20: 2.0,
  2: 6.4,
  61: 7.3,
  516: 6.3,
  80: 8.0,
  78: 6.3,
  555: 8.1,
  246: 6.1,
  133: 6.2,
  497: 11.7,
  33: 4.9,
  421: 7.4,
  526: 8.5,
  58: 8.5,
  107: 7.6,
  92: 2.4,
  68: 4.9,
  13: 7.9,
  360: 9.4,
  113: 5.5,
  235: 5.3,
  147: 7.4,
  875: 4.5,
  35: 6.3,
  98: 5.6,
  102: 8.8,
  27: 5.1,
  14: 7.8,
  15: 0.1,
  72: 4.7,
  37: 5.6,
  16: 6.8,
  50: 7.1,
  517: 6.5,
  134: 5.7,
  223: 2.8,
  163: 10.6,
  91: 7.1,
  44: 6.3,
  17: 4.0,
  412: 4.9,
  18: 5.4,
  48: 6.3,
  23: 5.3,
  4: 4.4,
  29: 5.1,
  77: 10.7,
  6: 7.4,
  110: 2.8,
  67: 3.6,
  45: 7.2,
  161: 8.0,
  711: 6.2,
  254: 5.4,
  234: 4.2,
  112: 5.5,
  8: 5.0,
  106: 7.3,
  19: 5.6,
  62: 4.5,
  498: 8.2,
  101: 4.9,
  5: 5.6,
  157: 6.8,
  777: 6.0,
  83: 4.4,
  350: 9.3,
  154: 8.0,
  238: 5.6,
  115: 5.8,
  26: 8.6,
  142: 8.9,
  143: 6.5}}

In [29]:
df['win_rate(%)'] = [synergy_counters_dict.get('win_rate(%)').get(champID) for champID in df['player_champ']]
df['best_partner'] = [synergy_counters_dict.get('best_partner').get(champID) for champID in df['player_champ']]
df['is_countered_by'] = [synergy_counters_dict.get('is_countered_by').get(champID) for champID in df['player_champ']]

C:\Users\tphuo\AppData\Local\Temp/ipykernel_13852/2320627175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['win_rate(%)'] = [synergy_counters_dict.get('win_rate(%)').get(champID) for champID in df['player_champ']]
C:\Users\tphuo\AppData\Local\Temp/ipykernel_13852/2320627175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['best_partner'] = [synergy_counters_dict.get('best_partner').get(champID) for champID in df['player_champ']]
C:\Users\tphuo\AppData\Local\Temp/ipykernel_13852/2320627175.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['is_countered_by'] = [synergy_counters_dict.get('is_countered_by').get(champID) for champID in df['player_champ']]

In [30]:
df

,player_champ,player_champ_name,player_position,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2,win_rate(%),best_partner,is_countered_by
0,51,caitlyn,BOTTOM,True,777,4,114,154,48.7,36,15
1,22,ashe,BOTTOM,True,30,91,62,76,51.7,166,115
2,51,caitlyn,BOTTOM,False,85,104,36,91,48.7,36,15
3,67,vayne,BOTTOM,False,17,76,104,234,53.4,131,55
4,51,caitlyn,BOTTOM,True,39,28,24,76,48.7,36,15
...,...,...,...,...,...,...,...,...,...,...,...
1956,92,riven,TOP,False,154,8,240,141,49.3,34,126
1957,92,riven,TOP,True,64,26,41,11,49.3,34,126
1958,92,riven,TOP,True,28,112,875,131,49.3,34,126
1959,92,riven,TOP,False,245,238,112,20,49.3,34,126
1960,523,aphelios,TOP,True,78,107,142,56,46.4,34,15

In [31]:
df.shape[0]

1961

In [32]:
df['win_rate>50%'] = [(df['win_rate(%)'][index] > 50) for index in range(df.shape[0])]
df

C:\Users\tphuo\AppData\Local\Temp/ipykernel_13852/3217573566.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['win_rate>50%'] = [(df['win_rate(%)'][index] > 50) for index in range(df.shape[0])]

,player_champ,player_champ_name,player_position,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2,win_rate(%),best_partner,is_countered_by,win_rate>50%
0,51,caitlyn,BOTTOM,True,777,4,114,154,48.7,36,15,False
1,22,ashe,BOTTOM,True,30,91,62,76,51.7,166,115,True
2,51,caitlyn,BOTTOM,False,85,104,36,91,48.7,36,15,False
3,67,vayne,BOTTOM,False,17,76,104,234,53.4,131,55,True
4,51,caitlyn,BOTTOM,True,39,28,24,76,48.7,36,15,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1956,92,riven,TOP,False,154,8,240,141,49.3,34,126,False
1957,92,riven,TOP,True,64,26,41,11,49.3,34,126,False
1958,92,riven,TOP,True,28,112,875,131,49.3,34,126,False
1959,92,riven,TOP,False,245,238,112,20,49.3,34,126,False
1960,523,aphelios,TOP,True,78,107,142,56,46.4,34,15,False

In [33]:
df['has_synergy'] = [(df['best_partner'][index] == df['ally_champ1'][index] or df['best_partner'][index] == df['ally_champ2'][index]) for index in range(df.shape[0])]
df

C:\Users\tphuo\AppData\Local\Temp/ipykernel_13852/2180125121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['has_synergy'] = [(df['best_partner'][index] == df['ally_champ1'][index] or df['best_partner'][index] == df['ally_champ2'][index]) for index in range(df.shape[0])]

,player_champ,player_champ_name,player_position,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2,win_rate(%),best_partner,is_countered_by,win_rate>50%,has_synergy
0,51,caitlyn,BOTTOM,True,777,4,114,154,48.7,36,15,False,False
1,22,ashe,BOTTOM,True,30,91,62,76,51.7,166,115,True,False
2,51,caitlyn,BOTTOM,False,85,104,36,91,48.7,36,15,False,False
3,67,vayne,BOTTOM,False,17,76,104,234,53.4,131,55,True,False
4,51,caitlyn,BOTTOM,True,39,28,24,76,48.7,36,15,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1956,92,riven,TOP,False,154,8,240,141,49.3,34,126,False,False
1957,92,riven,TOP,True,64,26,41,11,49.3,34,126,False,False
1958,92,riven,TOP,True,28,112,875,131,49.3,34,126,False,False
1959,92,riven,TOP,False,245,238,112,20,49.3,34,126,False,False
1960,523,aphelios,TOP,True,78,107,142,56,46.4,34,15,False,False

In [34]:
df['has_synergy'].unique()

array([False,  True])

In [35]:
df['is_countered'] = [(df['is_countered_by'][index] == df['enemy_champ1'][index] or df['is_countered_by'][index] == df['enemy_champ2'][index]) for index in range(df.shape[0])]
df

C:\Users\tphuo\AppData\Local\Temp/ipykernel_13852/3068533197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['is_countered'] = [(df['is_countered_by'][index] == df['enemy_champ1'][index] or df['is_countered_by'][index] == df['enemy_champ2'][index]) for index in range(df.shape[0])]

,player_champ,player_champ_name,player_position,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2,win_rate(%),best_partner,is_countered_by,win_rate>50%,has_synergy,is_countered
0,51,caitlyn,BOTTOM,True,777,4,114,154,48.7,36,15,False,False,False
1,22,ashe,BOTTOM,True,30,91,62,76,51.7,166,115,True,False,False
2,51,caitlyn,BOTTOM,False,85,104,36,91,48.7,36,15,False,False,False
3,67,vayne,BOTTOM,False,17,76,104,234,53.4,131,55,True,False,False
4,51,caitlyn,BOTTOM,True,39,28,24,76,48.7,36,15,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1956,92,riven,TOP,False,154,8,240,141,49.3,34,126,False,False,False
1957,92,riven,TOP,True,64,26,41,11,49.3,34,126,False,False,False
1958,92,riven,TOP,True,28,112,875,131,49.3,34,126,False,False,False
1959,92,riven,TOP,False,245,238,112,20,49.3,34,126,False,False,False
1960,523,aphelios,TOP,True,78,107,142,56,46.4,34,15,False,False,False

In [36]:
df['is_countered'].unique()

array([False,  True])

In [37]:
df = df.drop(columns=['player_champ_name', 'player_position', 'win_rate(%)', 'best_partner', 'is_countered_by'])
df

,player_champ,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2,win_rate>50%,has_synergy,is_countered
0,51,True,777,4,114,154,False,False,False
1,22,True,30,91,62,76,True,False,False
2,51,False,85,104,36,91,False,False,False
3,67,False,17,76,104,234,True,False,False
4,51,True,39,28,24,76,False,False,False
...,...,...,...,...,...,...,...,...,...
1956,92,False,154,8,240,141,False,False,False
1957,92,True,64,26,41,11,False,False,False
1958,92,True,28,112,875,131,False,False,False
1959,92,False,245,238,112,20,False,False,False
1960,523,True,78,107,142,56,False,False,False

In [38]:
df["is_player_win"] = df["is_player_win"].astype(int)
df["win_rate>50%"] = df["win_rate>50%"].astype(int)
df["has_synergy"] = df["has_synergy"].astype(int)
df["is_countered"] = df["is_countered"].astype(int)

df

,player_champ,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2,win_rate>50%,has_synergy,is_countered
0,51,1,777,4,114,154,0,0,0
1,22,1,30,91,62,76,1,0,0
2,51,0,85,104,36,91,0,0,0
3,67,0,17,76,104,234,1,0,0
4,51,1,39,28,24,76,0,0,0
...,...,...,...,...,...,...,...,...,...
1956,92,0,154,8,240,141,0,0,0
1957,92,1,64,26,41,11,0,0,0
1958,92,1,28,112,875,131,0,0,0
1959,92,0,245,238,112,20,0,0,0
1960,523,1,78,107,142,56,0,0,0

# Data Modeling

In [39]:
df

,player_champ,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2,win_rate>50%,has_synergy,is_countered
0,51,1,777,4,114,154,0,0,0
1,22,1,30,91,62,76,1,0,0
2,51,0,85,104,36,91,0,0,0
3,67,0,17,76,104,234,1,0,0
4,51,1,39,28,24,76,0,0,0
...,...,...,...,...,...,...,...,...,...
1956,92,0,154,8,240,141,0,0,0
1957,92,1,64,26,41,11,0,0,0
1958,92,1,28,112,875,131,0,0,0
1959,92,0,245,238,112,20,0,0,0
1960,523,1,78,107,142,56,0,0,0

In [40]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [41]:
X = df.drop(['player_champ'], axis=1)

y = df['player_champ']

In [42]:
X.shape

(1961, 8)

In [43]:
y.shape

(1961,)

In [44]:
X

,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2,win_rate>50%,has_synergy,is_countered
0,1,777,4,114,154,0,0,0
1,1,30,91,62,76,1,0,0
2,0,85,104,36,91,0,0,0
3,0,17,76,104,234,1,0,0
4,1,39,28,24,76,0,0,0
...,...,...,...,...,...,...,...,...
1956,0,154,8,240,141,0,0,0
1957,1,64,26,41,11,0,0,0
1958,1,28,112,875,131,0,0,0
1959,0,245,238,112,20,0,0,0
1960,1,78,107,142,56,0,0,0

In [45]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state=0)

In [46]:
tree_model = DecisionTreeClassifier(criterion='gini', max_depth=15)
tree_model.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=15)

In [47]:
cv_scores = cross_val_score(tree_model, X_train, y_train, cv=10, scoring='accuracy').mean()
cv_scores

C:\Users\tphuo\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(

0.020570205875549388

In [48]:
tree_model.score(X_train, y_train)

0.6405178979436406

In [49]:
tree_model.score(X_test, y_test)

0.021604938271604937

In [50]:
data = [
    [1, 55, 25, 157, 777, 1, 1, 0]
]

In [51]:
prediction = tree_model.predict(data)
prediction = int(prediction)
prediction

C:\Users\tphuo\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

30

In [52]:
champion_id_name_dict.get(prediction)

'karthus'

In [53]:
from sklearn.naive_bayes import GaussianNB
naive_bayes_classifier = GaussianNB()
naive_bayes_classifier.fit(X_train, y_train)

GaussianNB()

In [54]:
train_accuracy = naive_bayes_classifier.score(X_train, y_train)
test_accuracy = naive_bayes_classifier.score(X_test, y_test)

print(f'Train accuracy = {round(train_accuracy,3)*100}%')
print(f'Test accuracy = {round(test_accuracy,3)*100}%')

Train accuracy = 7.199999999999999%
Test accuracy = 1.2%

In [55]:
naive_bayes_prediction = naive_bayes_classifier.predict(data)
naive_bayes_prediction = int(naive_bayes_prediction)
naive_bayes_prediction

C:\Users\tphuo\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

57

In [56]:
champion_id_name_dict.get(naive_bayes_prediction)

'maokai'

In [63]:
from sklearn.neighbors import KNeighborsClassifier
knn_classifier = KNeighborsClassifier(n_neighbors=5)
knn_classifier.fit(X_train, y_train)

train_accuracy = knn_classifier.score(X_train, y_train)
print(f'Train accuracy = {round(train_accuracy, 3)*100}%')

test_accuracy = knn_classifier.score(X_test, y_test)
print(f'Train accuracy = {round(test_accuracy, 3)*100}%')

Train accuracy = 22.1%
Train accuracy = 1.4000000000000001%

In [64]:
knn_prediction = knn_classifier.predict(data)
knn_prediction = int(knn_prediction)
knn_prediction

C:\Users\tphuo\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

134

In [65]:
champion_id_name_dict.get(knn_prediction)

'syndra'

### Data Exploration

In [66]:
df

,player_champ,is_player_win,ally_champ1,ally_champ2,enemy_champ1,enemy_champ2,win_rate>50%,has_synergy,is_countered
0,51,1,777,4,114,154,0,0,0
1,22,1,30,91,62,76,1,0,0
2,51,0,85,104,36,91,0,0,0
3,67,0,17,76,104,234,1,0,0
4,51,1,39,28,24,76,0,0,0
...,...,...,...,...,...,...,...,...,...
1956,92,0,154,8,240,141,0,0,0
1957,92,1,64,26,41,11,0,0,0
1958,92,1,28,112,875,131,0,0,0
1959,92,0,245,238,112,20,0,0,0
1960,523,1,78,107,142,56,0,0,0

In [67]:
synergy_counters_df

,my_champion,win_rate(%),best_partner,synergy(%),worst_enemy_for,counter(%),is_countered_by,countered(%)
0,266,48.9,107,6.5,41,6.8,887,5.7
1,103,50.5,54,8.1,7,4.8,69,5.4
2,84,47.3,32,7.2,887,6.5,98,7.7
3,166,52.5,32,9.6,142,9.2,223,7.0
4,12,49.9,48,9.6,412,6.0,432,5.0
...,...,...,...,...,...,...,...,...
152,238,49.6,37,7.9,268,7.1,67,5.6
153,115,51.4,37,12.9,236,5.8,117,5.8
154,26,52.1,34,8.8,50,7.4,166,8.6
155,142,46.8,59,7.7,7,6.2,37,8.9
156,143,50.7,254,10.9,40,6.0,37,6.5